<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Calorie Planner</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <h1>Daily Calorie Planner</h1>
    <h5>Press to Record</h5>
    <button class="record-button">Start Recording</button>
    <div class="speech-to-text"></div>
</body>
</html>